:root {
  --medium-gap: 8px;
  --primary-color: #cb8f95;
  --input-color: #eee2e7;
  --heading-color: #481921;
}

input {
  background-color: var(--input-color);
  opacity: 0.5;
  padding: 10px 5px;
}

.button {
  background-color: #9bdeac;
  border-radius: 5px;
  color: black;
  padding: 5px;
}

.button--reset {
  background-color: #f05f7a;
}

.button--jumbo {
  background-color: #eee2e7;
  color: black;
  font-size: 15px;
  height: 10vh;
  width: 20vw;
}

form {
  background-color: var(--primary-color);
  border: 1px var(--primary-color) solid;
  border-radius: 5px;
  gap: var(--medium-gap);
  margin: 0 auto;
  padding: 70px 20px;
}

h1 {
  color: var(--heading-color);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--medium-gap);
}

.flex--column {
  flex-direction: column;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex--align-end {
  align-items: flex-end;
}

/* CSS Tricks */
.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
