#fname,
#lname {
  background-color: lightgrey;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

label {
  margin-left: 10px;
}

.button {
  background-color: green;
  border-radius: 5px;
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
}

.button--red {
  background-color: red;
}
form {
  border: 1px black solid;
  gap: 4px;
  margin: 0 auto;
  width: 550px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.flex--justify-center {
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.flex-- div {
  gap: 8px;
  height: 100vh;
  width: 100vw;
}

/* CSS Tricks */
.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
